@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

body { margin: 0px; }
* { box-sizing: border-box; }

.container {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

.box-esquerda{
    display: flex;
    flex-direction: column;

    position: sticky;
    top:0px;

    width: 356px;
    height: 100vh;

    color: white ;
    background: #2B3031;
}
 

    .logo {
        display: flex;
        flex-direction: row;

        padding: 49px 116px 49px 65px;

        justify-content: center;
    }

    .texto-logo{
        font-weight: 700;
        font-size: 28px;

        padding-left: 13px;
    }

    .texto-logo > span{
        color: #EA10C7;
    }

    .bloco-preto {
        width: 350px;
        height: 61px;

        background-color: #262626;;
    }
    .menu-categoria{
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        padding: 25px 22px 25px 65px;

        font-weight: 500;
        font-size: 18px;
    }

    .menu-aluno{
        display: flex;
        flex-direction: column;

        padding: 25px 22px 20px 65px;

        background: white;
        color: black;

        font-weight: 500;
        font-size: 18px;
        color: #1A1A1A;
    }

    .barra {
        position: absolute;
        width: 4px;
        height: 63px;
        left: 0px;
        top: 263px;
        
        background: #DB21BD;
    }

     .box-direita{
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
                    
     }  

     .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        padding: 17px 35px 21px 35px;
        
        background: white;

        background: #FFFFFF;
        box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
     }

     .cabecalho-esquerda{
        display: flex;
        flex-direction: row;

        align-items: center;
     }

    .imagem-cabecalho{
        display: flex;
        justify-content: flex-end;

        align-items: flex-start;

        padding-right: 15px;
    }

     .absoluto{
         color: white;
         background-color: #DB21BD;
        
         position: absolute;
         
         border: 3px solid white;
         border-radius: 50%;

         width: 20px;
         height: 20px;

         text-align: center;
         font-size: .7em;
     }

     .images-cabecalho{
        display: flex;
        flex-direction: row;
     }

      .img1 {
        width: 44px;
        height: 44px;
        padding: 11.5px 11px;
        
        border-radius: 22px;
        
        margin-right: 6px;
        
        background: #986CDF;
     } 

     .img2 {
        width: 44px;
        height: 44px;
        padding: 10px;
        
        border-radius: 22px;
        
        background: #986CDF;
     } 

     .conteudo{
        display: flex;
        flex-direction: column;
        
        width: 100%;
        height: 100%;
        
        padding: 1em 2em;
             
        background: #F5F5F5;
       /*margin: 57px 42px 24px 52px; */

     }

            .box-aluno{
                display: flex;
                flex-direction: column;

                width: 100%;
                height: 233px;
                
                left: 500px;
               
                background: #FFFFFF;
                box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);
            
                padding: 32px 43px;
                margin-top: 40px;
            }

            
                    .titulo{
                        display:flex;
                        flex-direction: row;

                        font-weight: 700;
                        font-size: 32px;

                        justify-content: flex-start;
                        align-items: center;

                        margin-bottom: 36px;
                    }

                    .container-form{
                        display:flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                                            
                    } 

                    .form{
                        display: flex;
                        flex-direction: row;

                        align-items: center;

                        margin-bottom: 20px;
                    }
                    
                    
                    .container-form div:nth-child(1){
                       margin-left: 25px;
                    }
                   
                    .label{
                        padding-right: 11px;
                        
                        font-family: 'Roboto', sans-serif;
                        color: #615858;

                    }
                    
                   .input{                       
                        width: 209px;
                        height: 36px;

                        border: 1px solid #A8A8A8;
                        box-sizing: border-box;
                        border-radius: 5px;
                    }

                    .btn-cadastrar{
                        background: #E911C6;

                        border-radius: 44px;
                        border: none;

                        color: white;
                        font-family: 'Roboto', sans-serif;

                        width: 106px;
                        height: 36px;

                        margin-left: 36px;
                    }

            .box-matriculados{
                margin-top: 46px;
                
                width: 100%;
                height: 700px;
                
                background: #FFFFFF;
                box-shadow: 0px 0px 4px 1px rgba(186, 186, 186, 0.25);

                padding: 32px 43px;
            }
                        .tabela{
                            border-collapse: collapse;
                        }

                        table {
                            margin-top: 2em;
                        }

                        thead {
                            background-color: #986CDF;                   
                        }

                        th {
                            height: 61.93px;
                            text-align: left;
                            padding: 1em;
                            color: #ffff;
                            font-weight: 800;
                        } 

                        tbody {
                            background-color: #F5F5F5;
                        }

                        td button {
                            border-radius: 50%;
                            background-color: #565656;
                            border: none;
                            width: 31px;
                            height: 31px;
                        }
                    
                        td {
                            text-align: left;
                            height:  61.93px;
                            padding: 1em;
                            color: #6D6868;
                            font-weight: 600;
                        }   
                                  
                        .campo-acao {
                            width: .1em;
                        }
           
                    .barra2{
                       width: 30px;
                       height: 0px;
                                               
                        border: 4px solid #986CDF;
                        border-radius: 8px;
                        transform: rotate(-90deg);
                    }

    